.inventory-container {
    background-color: #202020;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    height: 80vh;
    width: 750px;
    border: 2px solid #ccbd32;
    margin: auto;
  }
  
  .inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inventory-header h2 {
    color: #fff;
  }
  
  .sort-div {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .sort-label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  .sort-buttons {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  .sort-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .sort-buttons button:hover {
    background-color: #ccbd32;
    color: #000;
  }
  
  .sort-buttons .selected {
    background-color: #ccbd32;
    color: #000;
  }
  
  .inventory-search-add {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: '#555';
  }
  
  .search-input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: '#555';
    margin-right: 10px;
  }
  
  .add-item-button {
    background-color: rgb(5, 167, 5);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
  }
  
  .add-item-button:hover {
    background-color: rgb(7, 199, 7);
  }
  
  .inventory-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 6px 0;
    margin-bottom: 2px;

    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.2s;
  }
  
  .item-container:hover {
    background-color: #5c5c5c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .item-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .item-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .item-name {
    font-weight: bold;
    margin-right: 12px;
    margin-left: 3px;
  }
  
  .item-description {
    flex-grow: 1;
    font-size: 14px;
    margin-right: 50px;
    white-space: nowrap;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-value {
    font-weight: bold;
    white-space: nowrap;
  }
  
  .context-menu {
    position: absolute;
    background-color: #444;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    padding: 5px;
    width: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .context-menu-item {
    padding: 5px 10px;
    height: 20px;
    cursor: pointer;
  }
  
  .context-menu-item:hover {
    background-color: #555;
  }
  
  .context-menu.submenu {
    position: absolute;
    top: 0;
  }
  
  /* New styles for the button panel */
  .button-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .panel-button:last-child {
    margin-right: 0;
  }
  
  .panel-button:hover {
    background-color: #ccbd32;
    color: #000;
  }
  

  .loot-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 6px 0;
    background-color: #444;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.2s;
  }
  
  .loot-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .centerLootContainer {
    display: flex;
    justify-content: center;
    padding: 12px;
    margin-bottom: 15px;
    background-color: rgb(13, 109, 13);
    cursor: pointer;
  }

  .centerLootContainer:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(17, 148, 17);
  }